<strong>Olá {{ deliveryman }}</strong>
<p>Você possui uma nova encomenda disponível para retirada</p>
<p>Confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <br />
  <strong>Endereço:</strong> <br />
  <strong>Cidade: </strong> {{ city }}, - {{ state }} <br />
  <strong>Rua: </strong> {{ street }}, Nº {{ number }} <br />
  <strong>CEP: </strong> {{ zip_code }}
</p>
<p>
  <small>
    Horário para retirada das 8h às 18h.
  </small>
</p>
